.about__iframe {
  width: 100%;
  height: 100%;
  border: none;

  &--js {
    display: none;
  }
}

.about__container {
  padding: 20px 0 40px;

  @media ($tablet) {
    position: relative;
    padding: 30px 45px 120px;
  }

  @media ($desktop) {
    display: grid;
    max-width: 1366px;
    margin: 0 auto;
    padding: 120px 103px 237px;
    grid-template-columns: 355px 1fr;
    gap: 145px;
  }
}

.about__content {
  padding: 21px 15px 35px;

  @media ($tablet) {
    padding: 30px 0 36px;
  }

  @media ($desktop) {
    width: 355px;
    padding: 0;
    grid-column: 1 / 2;
  }
}

.about__title {
  margin: 0;
  margin-bottom: 12px;
  font-family: $secondary-font;
  font-size: 32px;
  font-weight: 600;
  line-height: 1;

  @media ($tablet) {
    margin-bottom: 20px;
    font-size: 42px;
    text-align: center;
  }

  @media ($desktop) {
    margin-bottom: 26px;
    font-size: 54px;
    text-align: left;
  }
}

.about__feature {
  margin: 0;
  margin-bottom: 36px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.11;

  @media ($tablet) {
    font-size: 20px;
    line-height: 1;
    text-align: center;
  }

  @media ($desktop) {
    margin-bottom: 95px;
    font-size: 22px;
    text-align: left;
  }
}

.about__content p:not(.about__feature) {
  margin: 0;
  margin-bottom: 18px;
  font-size: 14px;
  line-height: 1.57;

  @media ($tablet) {
    width: 502px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
  }

  @media ($desktop) {
    width: 100%;
    margin: 0;
    text-align: left;
  }
}

.about__content p:not(.about__feature):last-of-type {
  margin-bottom: 0;

  @media ($desktop) {
    margin-bottom: 7px;
  }
}

.about__hidden-text {
  display: none;

  @media ($desktop) {
    display: block;
  }
}

.about__image {
  display: block;
  width: 100%;
  height: 280px;
  margin-bottom: 36px;
  object-fit: cover;

  @media ($tablet) {
    height: 345px;
    margin: 0;
  }

  @media ($desktop) {
    width: 660px;
    height: 400px;
  }
}

.about__video {
  position: relative;
  width: 100%;
  height: 170px;
  background:
    linear-gradient(rgba(20, 54, 122, 0.5) 0, rgba(20, 54, 122, 0.5) 100%),
    image-set(
      url("../../img/about/cover-mobile@1x.webp") type("image/webp") 1x,
      url("../../img/about/cover-mobile@2x.webp") type("image/webp") 2x,
      url("../../img/about/cover-mobile@1x.jpg") type("image/jpeg") 1x,
      url("../../img/about/cover-mobile@2x.jpg") type("image/jpeg") 2x
    );
  background-repeat: no-repeat;
  background-size: cover;

  @media ($tablet) {
    position: absolute;
    bottom: 35px;
    left: 50%;
    width: 270px;
    height: 170px;
    background:
      linear-gradient(rgba(20, 54, 122, 0.5) 0, rgba(20, 54, 122, 0.5) 100%),
      image-set(
        url("../../img/about/cover-tablet@1x.webp") type("image/webp") 1x,
        url("../../img/about/cover-tablet@2x.webp") type("image/webp") 2x,
        url("../../img/about/cover-tablet@1x.jpg") type("image/jpeg") 1x,
        url("../../img/about/cover-tablet@2x.jpg") type("image/jpeg") 2x
      );
    translate: -50% 0;
  }

  @media ($desktop) {
    bottom: 125px;
    width: 360px;
    height: 230px;
    background:
      linear-gradient(rgba(20, 54, 122, 0.5) 0, rgba(20, 54, 122, 0.5) 100%),
      image-set(
        url("../../img/about/cover-desktop@1x.webp") type("image/webp") 1x,
        url("../../img/about/cover-desktop@2x.webp") type("image/webp") 2x,
        url("../../img/about/cover-desktop@1x.jpg") type("image/jpeg") 1x,
        url("../../img/about/cover-desktop@2x.jpg") type("image/jpeg") 2x
      );
  }
}

.about__button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 72px;
  height: 72px;
  background-color: transparent;
  border: 2px solid rgba(237, 2, 51, 0.2);
  border-radius: 50%;
  translate: -50% -50%;
  cursor: pointer;

  @include animation;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 52px;
    height: 52px;
    background: linear-gradient(90deg, #ed0233 0%, #003eb7 100%);
    border-radius: 50%;
    translate: -50% -50%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 34px;
    left: 37px;
    width: 12px;
    height: 12px;
    border: 6px solid transparent;
    border-left: 7px solid $base-white;
    translate: -50% -50%;

    @include animation;
  }

  &:hover {
    border-color: rgba(16, 38, 84, 0.6);

    &::before {
      background: $base-white;
    }

    &::after {
      border-left-color: rgba(16, 38, 84, 0.6);
    }
  }

  &:focus-visible {
    border-color: #102654;
    outline: none;

    &::before {
      background: #c8c9cc;
    }

    &::after {
      border-left-color: #102654;
    }
  }

  &:active {
    border-color: #102654;

    &::before {
      background: $base-white;
    }

    &::after {
      border-left-color: #102654;
    }
  }

  &:disabled {
    opacity: 0.4;
    border: 2px solid $base-color;
    pointer-events: none;

    &::before {
      background: none;
    }

    &::after {
      border-left-color: $base-color;
    }
  }

  &--js {
    display: none;
  }

  @media ($desktop) {
    width: 100px;
    height: 100px;

    &::before {
      width: 72px;
      height: 72px;

      @include animation;
    }

    &::after {
      top: 47px;
      left: 54px;
      width: 17px;
      height: 17px;
      border: 8px solid transparent;
      border-left: 12px solid $base-white;
    }

    &:active {
      &::before {
        width: 58px;
        height: 58px;

        @include animation;
      }
    }
  }
}
