.footer {
  background-color: $dark;
}

.footer__container {
  width: 320px;
  margin: 0 auto;
  padding: 40px 15px;

  @media ($tablet) {
    display: grid;
    width: 768px;
    padding: 45px 45px 48px;
    grid-template-columns: 110px 1fr 105px;
  }

  @media ($desktop) {
    width: 1366px;
    padding: 38px 103px;
    grid-template-columns: 130px 600px 95px;
    justify-content: space-between;
  }
}

.footer__logo img {
  width: 100px;
  height: 20px;
  margin-bottom: 25px;
  object-fit: cover;

  @media ($tablet) {
    width: 110px;
    height: 22px;
    margin: 0;
  }

  @media ($desktop) {
    width: 130px;
    height: 26px;
  }
}

.footer__list {
  @include list-resseting;

  display: flex;
  margin-bottom: 29px;
  flex-wrap: wrap;
  gap: 19px 35px;

  @media ($tablet) {
    margin: 0;
    padding: 0 35px;
    gap: 19px 31px;
  }

  @media ($desktop) {
    padding: 0;
    gap: 19px 82px;
  }
}

.footer__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  color: $base-white;
  text-decoration: none;

  @media ($tablet) {
    line-height: 1.57;
  }
}

.footer__social-list {
  @include list-resseting;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media ($tablet) {
    gap: 15px;
  }

  @media ($desktop) {
    gap: 10px;
  }
}

.footer__social-item {
  width: 25px;
  height: 25px;
}

.footer__social-link {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
  background-color: $base-white;
  border-radius: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    background-color: #030a1a;
    translate: -50% -50%;
    mask-repeat: no-repeat;
  }

  &:hover {
    background-color: $divider;

    &::before {
      background-color: $base-white;
    }
  }

  &:focus-visible {
    outline: none;
    background-color: $price;

    &::before {
      background-color: $base-white;
    }
  }

  &:active {
    background-color: $base-color;

    &::before {
      background-color: $base-white;
    }
  }
}

.footer__social-link--vk {
  &::before {
    height: 13px;
    mask-image: url("/__spritemap#sprite-vk-view");
  }
}

.footer__social-link--odnoklassniki {
  &::before {
    width: 10px;
    height: 17px;
    mask-image: url("/__spritemap#sprite-odnoklassniki-view");
  }
}

.footer__social-link--reddit {
  &::before {
    mask-image: url("/__spritemap#sprite-reddit-view");
  }
}
