.juri {
  width: 320px;
  margin: 0 auto;
  padding: 40px 30px 37px;

  @media ($tablet) {
    position: relative;
    width: 768px;
    padding: 32px 104px 58px;
  }

  @media ($desktop) {
    width: 1366px;
    padding: 99px 103px 101px;
  }
}

.juri__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: $secondary-font;
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  text-align: center;

  @media ($tablet) {
    font-size: 54px;
    margin-bottom: 44px;
  }

  @media ($desktop) {
    margin-bottom: 46px;
  }
}

.juri__name {
  position: absolute;
  display: block;
  bottom: 30px;
  width: 100%;
  padding: 0 10px;
  font-size: 22px;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  text-align: center;

  @media ($tablet) {
    bottom: 29px;
  }
}

.juri__button-prev,
.juri__button-next {
  display: none;

  @media ($tablet) {
    display: block;
    position: absolute;
    bottom: 185px;
    right: 55px;
    width: 23px;
    height: 23px;
    translate: 0 -50%;
    rotate: 45deg;
    z-index: 5;
    border-top: 1px solid #102654;
    border-right: 1px solid #102654;
    cursor: pointer;
  }

  @media ($desktop) {
    right: 53px;
    bottom: 231px;
  }
}

.juri__button-prev {
  left: 55px;
  rotate: 225deg;
}
