.juri {
  width: 320px;
  margin: 0 auto;
  padding: 40px 30px 42px;

  @media ($tablet) {
    position: relative;
    width: 768px;
    padding: 32px 104px 62px;
  }

  @media ($desktop) {
    width: 1366px;
    padding: 99px 103px 101px;
  }
}

.juri__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: $secondary-font;
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  text-align: center;

  @media ($tablet) {
    font-size: 54px;
    margin-bottom: 44px;
  }

  @media ($desktop) {
    margin-bottom: 46px;
  }
}

.juri__name {
  position: absolute;
  display: block;
  bottom: 30px;
  width: 100%;
  padding: 0 10px;
  font-size: 22px;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  text-align: center;

  @media ($tablet) {
    bottom: 29px;
  }
}

.juri__button-prev,
.juri__button-next {
  display: none;

  @media ($tablet) {
    display: block;
    position: absolute;
    bottom: 181px;
    right: 34px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 34%;
      width: 23px;
      height: 23px;
      border-top: 1px solid $base-color;
      border-right: 1px solid $base-color;
      translate: -50% -50%;
      rotate: 45deg;
    }

    &:hover {
      border: 1px solid $base-color;
    }

    &:focus-visible {
      background-color: $price-shadow;
      border: 1px solid $base-color;
      outline: none;
    }

    &:active {
      background-color: $base-color;

      &::before {
        border-color: $base-white;
      }
    }
  }

  @media ($desktop) {
    bottom: 229px;
    right: 32px;
  }
}

.juri__button-prev {
  left: 34px;
  rotate: 180deg;
}

.juri__info {
  position: relative;
  width: 260px;
}

.juri__popup {
  position: absolute;
  top: 0;
  width: 260px;
  height: 100%;
  padding: 62px 41px 51px;
  background-color: rgba(16, 38, 84, 0.89);
  opacity: 0;
  transition: 0.3s ease 0s;
}

.juri__popup-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  text-align: center;
}

.juri__popup-type {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
}

.juri__popup-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  gap: 12px;
  list-style-type: none;
}

.juri__popup-item {
  position: relative;
  padding-left: 25px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  color: #ffffff;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 9px;
    width: 6px;
    height: 6px;
    background-color: #ffffff;
    border-radius: 50%;
    translate: 0 -50%;
  }
}

.juri__slide:hover > .juri__popup,
.juri__slide:focus-visible > .juri__popup {
  opacity: 1;
  transition: 0.3s ease 0s;
}
