/* здесь используйте глобальные переменные */

/* шрифты */
$primary-font: "Roboto Condensed", "Arial", sans-serif;
$secondary-font: "Alumni Sans", "Arial", sans-serif;

/* цвета */
$divider: #74819c;
$play-btn: #ed0233;
$light: rgba(16, 38, 84, 0.5);
$accent-bg: #ed0233;
$btn-border: #1c3374;
$tab-border: rgba(16, 38, 84, 0.2);
$primary-bg: #f8f9fc;
$price: #103aae;
$price-shadow: #e8e8e8;
$desc: #2e35ac;
$secondary: #1c3374;
$dark: #030a1a;
$base-white: #ffffff;

/* дисплей */
$tablet: "min-width: 768px";
$desktop: "min-width: 1366px";
